body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    color: black;
    font-family: Arial;
    margin: 10px 20px 45px;
}

footer {
    color: rgb(255, 255, 255);
    font-family: Arial;
    margin: 0px;
    background-color: rgb(4, 25, 68);
    padding: 10px;
    font-size: 15pt;
    text-align: right;
    position: fixed;
    bottom:0;
    right:0;
    left:0;
}

header {
    background-color: rgb(4, 25, 68);
    color: rgb(255, 255, 255);
    font-family: Arial;
    margin: 0px;
    font-size: 15pt;
    padding: 10px;
}

a {
    text-decoration: none; 
    color: green;
    transition: 1s 2s;
    font-style: italic;
}

a:link {
    color: blue; 
    text-decoration: none; 
}

a:visited {
    color: purple; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    color: rgb(0, 0, 0); 
    background-color: rgb(199, 130, 255); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    border: 1px solid rgb(38, 4, 70); 
    padding: 2px; 
    border-radius: 4px;
    transition: 0.3s; 
}

a:active {
    opacity: 0.3;
    color: black;
}

div.menu {
    border: 7px solid salmon;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: lightblue;
    box-shadow: 0 0 15px #00000030;
}


h1 {
    text-align: center;
}

