body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightgrey;
    color: black;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: lightcoral;
    color: black;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lightcoral;
    color: black;
    font-family: Arial;
    margin: 0px;
}

a {
    text-decoration: none; 
    color: green;
    transition: 1s 2s;
}

a:link {
    color: blue; 
    text-decoration: none; 
}

a:visited {
    color: purple; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    color: rgb(0, 0, 0); 
    background-color: rgb(199, 130, 255); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    border: 1px solid rgb(38, 4, 70); 
    padding: 2px; 
    border-radius: 4px;
    transition: 0.3s; 
}

a:active {
    opacity: 0.3;
    color: black;
}




